@model RoverHello.Domain.Entities.Event

@{
    ViewData["Title"] = "Edit";
}
<div class="page-header d-print-none mb-2">
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				@ViewData["AreaTitle"]
			</div>
			<h2 class="page-title">
				Edit Event
			</h2>
		</div>
	</div>
</div>
<div class="card shadow mb-5">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" type="date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Points" class="control-label"></label>
                        <input asp-for="Points" class="form-control" />
                        <span asp-validation-for="Points" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div>
                        <ul>
                        @foreach (var attendee in Model.Attendees)
                        {
                            <li>@attendee.User.UserName</li>
                        }
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<form asp-action="AddAttendee">
    <div class="form-group">
        <label asp-formaction="User" class="control-label">Please select attendees.</label>
        <select asp-for="Attendees" asp-items="ViewBag.Users" multiple="multiple" class="form-control">

        </select>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default mt-4">Back to List</a>
</div>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" />
}

@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(document).ready(function() {
            $("#Member").select2({
                tags: true,
                createTag: function (params) {
                    if (params.term.indexOf('@@') === -1) {
                        return null;
                    }

                    return {
                        id: params.term,
                        text: paras.term
                    }
                }
            });
        });

    </script>
}
