@model RoverHello.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel

@{
	ViewData["Title"] = "Dashboard";
}

<div class="row">
	<!-- Page title -->
	<div class="page-header d-print-none">
		<div class="row align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 class="page-title">
					Welcome, @Model.User.FullName.Trim()!
				</h2>
			</div>
			<!-- Page title actions -->
		</div>
	</div>
</div>

<!--DASHBOARD -->
<div class="row row-deck row-cards">
<div class="col-12">
	<div class="row row-cards">
		<div class="col-sm-6 col-lg-3">
			<div class="card card-sm">
				<div class="card-body">
					<div class="row align-items-center">
							<div class="col-auto ms-auto d-print-none">
								<div class="btn-list">
									<a asp-area="Identity" asp-controller="Users" asp-action="Index" class="btn btn-primary d-none d-sm-inline-block" style="width:500px">
										Users
									</a>

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="card card-sm">
				<div class="card-body">
					<div class="row align-items-center">
							<div class="col-auto ms-auto d-print-none">
								<div class="btn-list" style="margin-bottom:25px">
										<a asp-area="Identity" asp-controller="Roles" asp-action="Index" class="btn btn-primary d-none d-sm-inline-block" style="width:500px">
										
										Roles
									</a>

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="card card-sm">
				<div class="card-body">
					<div class="row align-items-center">
						<div class="col-auto ms-auto d-print-none">
								<div class="btn-list" style="margin-bottom:25px">
										<a asp-area="Admin" asp-controller="Rewards" asp-action="Index" class="btn btn-primary d-none d-sm-inline-block" style="width:500px">
										Rewards
									</a>

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="card card-sm">
				<div class="card-body">
					<div class="row align-items-center">
							<div class="col-auto ms-auto d-print-none">
								<div class="btn-list" style="margin-bottom:25px">
										<a asp-area="Admin" asp-controller="Events" asp-action="Index" class="btn btn-primary d-none d-sm-inline-block" style="width:500px">
										Events
									</a>

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</div>