
@{
	ViewData["Title"] = "Dashboard";
}

<div class="row">
	<!-- Page title -->
	<div class="page-header d-print-none">
		<div class="row align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 class="page-title">
				</h2>
			</div>
			<!-- Page title actions -->
		</div>
	</div>
</div>

<!--DASHBOARD -->
<p>Hey there @Model.User.FullName</p>