@inject RoverHello.Domain.Entities.Settings.ApplicationSettings Settings

@{
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
    ViewData["Title"] = "FAQ";
}

<div class="container-narrow py-4">
    <div class="text-center mb-2">
        <div class="navbar-brand navbar-brand-autodark">
            <div class="d-flex flex-row">
                <div class="p-3">
                    <img src="@Settings.LogoImageUrlSmall" style="height:3rem">
                </div>
                <div class="align-self-center">
                    <div class="fs-1 fw-bolder">@Settings.SiteName</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-md">
        <div class="card-body">
            <h2 class="fw-bold">Frequently Asked Questions</h2>
            <br />
            <div class="markdown">
                <div>
                    <h3>What is RoverRewards?</h3>
                    <p>RoverRewards is a web application designed to motivate students to participate in school events and activities by awarding points that can be redeemed for rewards.</p>
                </div>

                <div>
                    <h3>How does RoverRewards work?</h3>
                    <p>Students sign up for RoverRewards and earn points by attending school events. Administrators can manage user accounts, create events, and assign rewards for students to redeem with their points.</p>
                </div>

                <div>
                    <h3>What are the benefits of using RoverRewards?</h3>
                    <p>RoverRewards can help improve student engagement and attendance, create a more positive school culture, and encourage students to participate in activities they may not have otherwise.</p>
                </div>

                <div>
                    <h3>What technologies are used to build RoverRewards?</h3>
                    <p>RoverRewards is built using the ASP.NET Core framework, SQL database, HTML, CSS, and JavaScript.</p>
                </div>

                <div>
                    <h3>How can I create a new user in RoverRewards?</h3>
                    <p>To create a new user in RoverRewards, log in to the admin dashboard and navigate to the Users page. Click the "Create New User" button and fill out the required information, including the user's name, email address, and role. Click "Save" to create the new user.</p>
                </div>

                <div>
                    <h3>How do I assign points to a user in RoverRewards?</h3>
                    <p>It is not manual anymore! Now, with RoverRewards, after you add a user to an event, that user is automatically assigned that number of points the event is worth.</p>
                </div>

                <div>
                    <h3>What types of rewards can be assigned in RoverRewards?</h3>
                    <p>Any type of reward can be assigned in RoverRewards, including physical prizes, gift cards, or even special privileges like a designated parking spot or early release from school. It is up to the school or organization using RoverRewards to determine what rewards to offer.</p>
                </div>

                

                
            </div>
        </div>
    </div>
</div>