@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

    <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome to RoverRewards!</h1>
                            <p class="lead text-white-50 mb-4">Attend, Earn, and Redeem with RoverRewards!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" asp-area="Identity" asp-controller="Account" asp-action="Register">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block"><img class="mt-4" src="/theme/front/img/rrlogo_dark.png" style="width:300px; height:400px"></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">1</div>
                        <h2 class="fw-bolder">Attend</h2>
                        <p>Attend any eligible school event!</p>
                        
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">2</div>
                        <h2 class="fw-bolder">Earn</h2>
                        <p>By attending, you will earn a specified amount of points which will be added to your account!</p>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">3</div>
                        <h2 class="fw-bolder">Redeem</h2>
                        <p>With your points, you can redeem the available rewards!</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
        
        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Customer testimonials</h2>
                    <p class="lead mb-0">Our customers love working with us</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">I love RoverRewards because it gives me an incentive for having fun!</p>
                                        <div class="small text-muted">- 11th Grade Student, Easton Area High School</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                     <p class="mb-1">Such a great way to stay engaged and involved in school activities. I would definitely recommend RoverRewards to all my friends!"</p>
                                     <div class="small text-muted">- Anonymous, Easton Area High School </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>